#layout {
    -fx-background-image: url("../img/backgrounds/ocean.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

#menuPanel {
    -fx-background-color: white;
}

.menuBtn {
    -fx-background-color: white;
    -fx-text-fill: blue;
}